:root {
    --main-rd-grey: #95a5a6;
}

.redes {
    font-size: 39px !important;
    color: var(--main-rd-grey);
}

.navTxt{
    color: var(--main-rd-grey);
}

.text-decorator-noneNb{
    text-decoration:none;
}

.text-decorator-noneNb:hover{
    text-decoration:overline #00ffea;
}