.botCv{
    text-decoration: none;
    border-radius: 8%;
    background: #006266 !important;
    color: white !important;
    padding-left: 7px;
    padding-top: 4px;
    transition: all 0.5s ease-in-out 0s;
}
.botCv:hover{
    transform: scale(110%);
    box-shadow: #86CEEB;
    -webkit-box-shadow: 0.5px 0.5px 3.5px 1.7px #20bf8f, 0.5px 0.5px 5px 3px #20bf6b;
}
.me{
    display: flex !important;
    justify-content: flex-end;
    border: solid 1px wheat;
}
    