:root {
    --main-bg-blue: #2c3e50;
    --main-bg-grey: #95a5a6;
}

.gridFoter {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    background-color: var(--main-bg-grey);
}

.text-decorator-none-footer {
    text-decoration: none !important;
}

.boxFooter1 {
    padding-top: 1px !important;
    padding-left: 7px !important;
    background-color: var(--main-bg-grey);
    height: 60px !important;
}

.boxFooter2 {
    padding-right: 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.redes {
    font-size: 40px !important;
    color: var(--main-bg-blue);
}

.textos {
    color: var(--main-bg-blue) !important;
}