.caixa{
    background-color: #34495e;
}

.titulo{
    color: white!important;
    font-weight: bold!important;
}

.botao{
    border-color: white!important;
    background-color: #34495e;
    color: white!important;
}

.postagens{
    background-color: white;
}