@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap%27);

:root {
    --main-bg-blue: #192a56;
    --main-bg-grey: #95a5a6;
}

.base  {
   background-image: url(https://i.imgur.com/vwXcqeS.png);
   background-size:cover;
   justify-content: space-around;
   flex-direction:column;
}

.bot2 {
    text-decoration: none;
    border-radius: 8%;
    background: #1e272e !important;
    color: white !important;
    padding-left: 7px;
    padding-top: 4px;
    transition: all 0.5s ease-in-out 0s;
}
.bot2:hover{
    transform: scale(110%);
    box-shadow: #86CEEB;
    -webkit-box-shadow: 0.5px 0.5px 5px 3px #00ffea;
}

.text-decorator-none {
    text-decoration: none;
}

.font {
    font-family: 'Source Sans Pro', sans-serif;
}