.box1{
    background-color: #34495e;
    height: 120px !important;
}

.box2{
    background-color: #34495e;
     height: 60px !important;
}

.redes{
    font-size: 60px !important;
     color: white !important;
}

.textos{
    color: white !important;
}