:root {
    --main-bg-grey: #95a5a6;
}

.gridFoter {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    background-color: #1e272e;
}

.text-decorator-none-footer {
    text-decoration: none !important;
}

.boxFooter1 {
    position: flex;
    padding-top: 1px !important;
    padding-left: 7px !important;
    background-color: #1e272e;
    height: 40px !important;
}
.textos {
    color: var(--main-bg-grey) !important;
}